# Build artifacts
[Bb]in/
[Oo]bj/

# Scraper artifacts & scripts
downloaded_emojis/
scripts/

# Secrets
appsettings.json
appsettings.Development.json
appsettings.Production.json
Properties/launchSettings.json